html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  color:rgb(67, 67, 68);
  scroll-behavior: smooth;
}
}
header figure{
  width:4rem;
}
.hamburger-container {
  /*background:white;*/
  height:6rem;
  width: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ham-line{
  background:rgb(220, 223, 229);
  height:10%;
  width:60%;
  margin:0.3rem 0;
}
nav {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  left:-22.5rem;
  position:fixed;
  top:0;
  transition: left 0.3s ease-in-out;
}
.menu-btn {
  background-color: none;
}

.show-menu {
  left:0;
}

.name-logo {
  width:100%;
  margin: 0 0 0 5%;

}
.name-logo img{
  width: 100%;
}
li + li {
  border-top: 1px solid rgb(147, 150, 155);

}
li {
  color:rgb(71, 73, 76);
  padding:1.9rem 1rem;
  font-size: 2.6rem;
  text-align: center;

}

a {
  text-decoration: none;
  color:rgb(71, 73, 76);
}
ul {
  background-color: rgb(255,255,255);
  list-style: none;

}
main {
  display: block;
  margin:0 5% ;
}
article {
  display: block;
  /*margin: 0 15%;*/
  padding: 0 0 3rem 0;
}

h2 {
  font-family:'Open Sans', sans-serif;
  font-size:2.2rem;
  font-weight: bold;
  margin: 3rem 0;
}

article p{
  font-family:'EB Garamond', serif;
  font-size:2rem;
  line-height:1.6;
}
span {
  background: lime;
}

footer {
  margin:0 15%;
  border-top:1px solid black;
  border-bottom:1px solid black;
  font-size: 2rem;
}


.personal-img{
    display: block;
    width:13rem;
    height:13rem;
    border-radius:50%;
    overflow:hidden;
    margin: 2rem auto;
}
.img-circle {
  position:relative;
  left:-2.5rem;
  width:20rem;
  z-index: -1;
}

.border{
  border-bottom: 1px solid rgb(147, 150, 155);
}
.map-container{
  width:100%;
}
iframe{
  width: 100%;
}
.contact-container{
  font-size:2.4rem;
}
.contact-detail a, .contact-detail p{
  display: block;
  padding: 2rem 0;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
  body{

  }
}

@media only screen and (min-width: 1025px) {
  body{

  }

  h2 {
    font-size: 2.8rem;
    margin:0 0 2rem 0;
  }

  li {
    font-size: 2.6rem;
    padding:1rem;
  }
  .menu-btn{
    display: none;
  }
  header {
    background: rgb(255,255,255);
    width: 70%;
    max-width: 1500px;
    margin: 0 15%;
  }
  .name-logo {
    margin: 0;
    padding: 0;
  }
  .name-logo img {
    width:100%;
  }
  nav {
    display: block;
    position:static;
    overflow: hidden;
    transition: none;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid rgb(147, 150, 155);
    border-bottom: 1px solid rgb(147, 150, 155);
  }
  li + li {
    border: none;
  }
  main {
    width:70%;
    max-width:1500px;
    margin:auto;
  }
  .main{
    /*padding-top: 24rem;
    */
  }
  .personal-img {
    margin-bottom: 3rem;
  }
  article{

    padding-top: 15rem;
  }
  .border{
    border-bottom: 0.2rem solid rgb(147, 150, 155);
  }
  article p{
    font-family:'EB Garamond', serif;
    font-size:2.2rem;
    line-height:1.6;
    columns: 2;
  }
  .contact-container {
    display: flex;
    align-items: center;
  }
  .map-container{
    width:50%;
  }
  iframe{
    width:80%;
    margin:0 5%;
  }
  .contact-detail a, .contact-detail p{
    text-align: left;
  }
  .name-logo img{
    max-width: 100%;
  }
  /*
  .hidden-header {
    position:fixed;
    top:0;
    left:15%;
  }
  */
  footer {
    padding-bottom: 15rem;
    padding-top:10rem;

  }
  .sticky {
    background-color: #3F7F96;
    color:red;
    position: fixed;
    left:15%;
    top: -0.2rem;
    width:70%;
    margin: auto;
  }

}
